# Any hidden files
**/.*

# Build related stuff
/build
/config
/ngdoc_assets
/test
**/node_modules

# Package managers
bower.json
component.json

**/tsconfig.json
**/webpack.config.js

*.iml
*.ipr
*.iws
